---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/invalid-ip?access_key=b241466adf5f31eb6b9595a982648a79
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - 7543396a-a888-43da-8737-8cc401218ba1
      X-Quota-Limit:
      - '100'
      X-Quota-Remaining:
      - '66'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.048'
    body:
      encoding: UTF-8
      string: '{"success":false,"error":{"code":106,"type":"invalid_ip_address","info":"The
        IP Address supplied is invalid."}}'
  recorded_at: Wed, 24 Jul 2024 17:06:31 GMT
recorded_with: VCR 6.2.0
