---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/?access_key=b241466adf5f31eb6b9595a982648a79
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Content-Type:
      - text/html
      Location:
      - https://apilayer.com?access_key=b241466adf5f31eb6b9595a982648a79
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>302 Found</title></head>\r\n<body>\r\n<center><h1>302
        Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Wed, 24 Jul 2024 16:52:26 GMT
- request:
    method: get
    uri: https://apilayer.com/?access_key=b241466adf5f31eb6b9595a982648a79
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":{"code":301,"type":"invalid_fields","info":"One
        or more invalid fields were specified using the fields parameter."}}'
  recorded_at: Wed, 24 Jul 2024 16:52:26 GMT
recorded_with: VCR 6.2.0
