---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/134.201.250.155?access_key=b241466adf5f31eb6b9595a982648a79
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - 69af02b7-38ab-4c27-a4b5-fdf4eadfdc0c
      X-Quota-Limit:
      - '100'
      X-Quota-Remaining:
      - '77'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.031'
    body:
      encoding: UTF-8
      string: '{"ip": "134.201.250.155", "type": "ipv4", "continent_code": "NA", "continent_name":
        "North America", "country_code": "US", "country_name": "United States", "region_code":
        "CA", "region_name": "California", "city": "Los Angeles", "zip": "90012",
        "latitude": 34.0655517578125, "longitude": -118.24053955078125, "location":
        {"geoname_id": 5368361, "capital": "Washington D.C.", "languages": [{"code":
        "en", "name": "English", "native": "English"}], "country_flag": "https://assets.ipstack.com/flags/us.svg",
        "country_flag_emoji": "\ud83c\uddfa\ud83c\uddf8", "country_flag_emoji_unicode":
        "U+1F1FA U+1F1F8", "calling_code": "1", "is_eu": false}}'
  recorded_at: Wed, 24 Jul 2024 15:42:03 GMT
recorded_with: VCR 6.2.0
